<div class="slide3" id="slide3">
	<div class="title">
		<h2 class="wow fadeIn" data-wow-duration="1600ms">Something about <span style="color:#1E84C5;">me</span></h2>
	</div>

<div class="content">
	<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
		<p><span style="color:#1E84C5;">Communication</span> is a very important aspect in working in a team. <br> Aside from coding skills, we also want to evaluate how well you communicate in <span style="color:#1E84C5;">writing</span>.</p>
	</div>
</div>

	<div class="row">
			<div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-2">
				<div class="content">
					<p class="about">Hi! I'm Ranniel John, 3rd year student in AMA Computer College &#45; Cavite. I'm taking up Bachelor of Science in Information Technology with specialization in Multimedia. I love taking photos of nature, editing pictures and making slide show of the photos that I've took. I also want to learn more about web developing, on how the website work good, make it presentable and responsive. </p>
				</div>
				
				<div class="content">
					<button type="button" class="button btn btn-primary">Read More</button>
				</div>
			</div>


			<div class="col-xs-10 col-xs-offset-1 col-md-4" id="picture">
			<img style="height:auto; width:auto; max-width:300px; max-height:300px;" src="img/rj.jpg">
			</div>
		</div>

</div>

