<div class="footer">
	<div class="content">
		
			<ul class="default list-inline center-block">
			
				
					<li class="wow bounce" data-wow-delay="400ms"><a href="#"><img src="img/f.png"></a></li>
				
				
			
					<li class="wow bounce" data-wow-delay="600ms"><a href="#"><img src="img/t.png"></a></li>
				
				
				
					<li class="wow bounce" data-wow-delay="800ms"><a href="#"><img src="img/d.png"></a></li>
		
			</ul>
		
	</div>

	
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p>Copyright 2015. Project Atrax. Aestrea Frontend Technical Exam. All rights reserved.</p>
		
	</div>
</div>