<div class="slide1" id="slide1" >
	<div class="intro-title">
		<h1 class="wow bounceInDown" data-wow-duration="1000ms">MADE FOR DEVDESIGNERS</h1>
	

		<div class="col-xs-10 col-xs-offset-1 wow fadeIn" data-wow-delay="1100ms">
			<p>We have designed this website template just for you. We believe that this will help us evaluate your frontend skills.
			<br>Fell free to use the technology and tools that you think is necessary for this coding exam.</p>
		</div>
	</div>		

			<div class="content wow fadeIn" data-wow-delay="1400ms">
				<br>
				<button type="submit" class="center-button btn btn-info" id="center-block">Make this happen</button>
			</div>
	
</div>
