<div class="slide5" id="slide5">
	<div class="title">
		<h2 class="wow fadeIn" data-wow-duration="1600ms" id="likes">Things I <span style="color:#1E84C5;">like</span> to do</h2>
	</div>

	<div class="content">
		<p id="likes">Here are some things that I like to do during my free time.<br> Feel free to edit the list if you like (but not required).</p>
	</div>

	<div class="content">
		<div class="row">
			<div class="caption">
				<div class="col-xs-4 col-md-1 col-md-offset-1">
					<img class="wow pulse" data-wow-delay="300ms" src="img/music.png">
				</div>
				<div class="col-md-2">
					<p>Music</p>
					<p>I love to play the guitar, piano, and violin. Aside from that, I enjoy composing songs.</p>
				</div>

				<div class="col-xs-4 col-md-1">
					<img class="wow pulse" data-wow-delay="400ms"src="img/photo.png">
				</div>
				<div class="col-md-2">
					<p>Photography</p>
					<p>I love taking photos when I travel. I want to remember moments that are special.</p>
				</div>

				<div class="col-xs-4 col-md-1">
					<img class="wow pulse" data-wow-delay="500ms"src="img/travel.png">
				</div>
				<div class="col-md-2">
					<p>Travel</p>
					<p>I love to travel to different places. I want to celebrate the cultures of the world.</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="caption">
					<div class="col-xs-4 col-md-1 col-md-offset-1">
						<img class="wow pulse" data-wow-delay="600ms" src="img/pet.png">
					</div>
					<div class="col-md-2">
						<p>Pet</p>
						<p>My dog is my bestfriend. We usually go to the park and play until sun down.</p>
					</div>

					<div class="col-xs-4 col-md-1">
						<img class="wow pulse" data-wow-delay="700ms" src="img/puzzle.png">
					</div>
					<div class="col-md-2">
						<p>Puzzles</p>
						<p>Solving puzzles has been my past time since I was a kid. Truly, I am still a kid at heart.</p>
					</div>

					<div class="col-xs-4 col-md-1">
						<img class="wow pulse" data-wow-delay="800ms" src="img/code.png">
					</div>
					<div class="col-md-2">
						<p>Code</p>
						<p>I still code during my free time because I feel joy in doing so. It has been a part of me.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>